* {
  box-sizing: border-box;
}

/* Color variables*/
body {
  margin: 0%;
  font-family: "Roboto";
  font-size: 15px;
}

/* Header, logo, textlogo and front image*/
header {
  height: 100px;
  padding: 20px;
  background-color: #011827;
  display: flex;
  gap: 5px;
}
header h1 {
  max-width: 50px;
  font-size: 1em;
  font-weight: 400;
  color: white;
  position: relative;
  top: -8px;
}
header .header__Logo {
  width: 100px;
  height: 60px;
}
header nav {
  display: none;
  align-self: flex-end;
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
header .header__menuBtn {
  height: 20px;
  width: 30px;
}

.mobileMenuContainer__hidden {
  display: none;
}

.mobileMenuContainer {
  position: fixed;
  padding: 20px 0px 0px 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.mobileMenu {
  display: inline;
  min-width: 500px;
  min-height: 840px;
  padding: 0px 0px 50px 0px;
  font-size: 2em;
  background-color: #011827;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}
.mobileMenu img {
  align-self: end;
  width: 50px;
  height: 50px;
  padding: 10px 10px 0px 0px;
  position: relative;
  bottom: 60px;
}
.mobileMenu a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* hacker-man*/
.frontImage {
  width: 100%;
  max-height: 500px;
}

/* Container one Links inside Ul-list*/
.containerOneChoice {
  width: 100%;
  padding-top: 15px;
  padding-right: 30px;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.containerOneChoice__BlueLink {
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  background-color: #8ACFE5;
  border-radius: 3px;
  text-align: center;
}

.containerOneChoice__RedLink {
  text-decoration: underline;
  color: #36769D;
}

/* Container two reviews profilepicture and review texts*/
.containerTwoReviews {
  min-height: 120px;
  padding: 15px;
  display: flex;
  justify-content: center;
  /* Split up reviews show/noshow */
}
.containerTwoReviews h2 {
  font-weight: 500;
}
.containerTwoReviews .containerTwoReviews__reviewImageContainer {
  padding-top: 20px;
}
.containerTwoReviews .containerTwoReviews__ProfilePicture {
  width: 50px;
  border-radius: 30px;
}
.containerTwoReviews .containerTwo__UserReviewText {
  max-width: 200px;
  font-style: oblique;
  font-weight: 500;
}
.containerTwoReviews .containerTwo__UserRiview,
.containerTwoReviews small {
  position: relative;
  bottom: -5px;
}
.containerTwoReviews .reviewOne {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
.containerTwoReviews .reviewTwo {
  display: none;
}

/* Container three, three cards with swipe function.*/
.containerThreeChallengesSwipe {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 50px;
}

.containerThreeChallengesSwipe h2 {
  align-self: center;
}

.containerThreeChallengesSwipe__Card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 360px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.containerThreeChallengesSwipe__Card p {
  max-width: 300px;
}

.containerThreeChallengesSwipe__Stars {
  display: flex;
  gap: 4px;
}

.ContainerThreeChallangesSwipe__ChallangeCardContainerScroll {
  padding-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  min-height: 400px;
  min-width: 150px;
  box-sizing: content-box;
  overflow-x: scroll;
  max-width: 500px;
}

.card-image {
  height: 200px;
  width: 250px;
  border-radius: 8px 8px 0px 0px;
}

.containerThreeChallangesSwipe__LinkHolder {
  background-color: red;
  height: 33px;
  width: 120px;
  line-height: 30px;
  border-radius: 3px;
  align-self: end;
  position: relative;
  left: -5px;
  position: relative;
  top: -12px;
}

.containerThreeChallangesSwipe__LinkHolder a {
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 14px;
}

/* Container four two links same class as container one. */
.containerFourChoice ul {
  padding: 0px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* Container five, text-story with Link at end*/
.containerFiveStory {
  background-color: #011827;
  padding: 40px 0px 70px 0px;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.containerFiveStory p {
  padding-bottom: 1em;
  max-width: 250px;
}
.containerFiveStory a {
  text-decoration: none;
  width: 180px;
  height: 30px;
  border: 1px solid #8ACFE5;
  color: #8ACFE5;
  padding: 10px 15px 10px 15px;
  line-height: 10px;
}

/* Container six images with friends or Online  text and link*/
.containerSixPlayWithFriends {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  width: 100%;
  padding: 10px 0px 30px 10px;
}
.containerSixPlayWithFriends strong {
  font-size: 2em;
  max-width: 500px;
}
.containerSixPlayWithFriends p {
  font-size: 1.4em;
  max-width: 400px;
}
.containerSixPlayWithFriends span a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: red;
  font-size: 1.2em;
  height: 50px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  align-self: start;
}

/*  Container six image */
.playOnlineImageContainer__Img {
  width: 100%;
  max-height: 600px;
}

.containerSixFriends__playWithFriendsImg {
  width: 100%;
}

/*  Footer container Strong, small and Links */
.containerEndInfo {
  background-color: #011827;
  padding: 50px 0px 20px 12px;
  color: white;
  display: flex;
  flex-flow: column;
  gap: 30px;
  font-size: smaller;
}
.containerEndInfo .containerEndInfo__InfoContainer {
  display: flex;
  flex-flow: column nowrap;
}
.containerEndInfo small {
  font-size: smaller;
  max-width: 300px;
}
.containerEndInfo .containerEndInfo__FirstColumn a {
  display: flex;
  flex-flow: column;
  font-size: smaller;
  text-decoration: none;
  color: white;
}
.containerEndInfo .containerEndInfo__FirstColumn :nth-child(5) {
  padding-top: 10px;
}
.containerEndInfo .containerEndInfo__ThirdColumn a {
  display: flex;
  flex-flow: column;
  font-size: smaller;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 800px) {
  /* Centering making text and links bigger */
  /* Review text and profilepicture centering and making larger. */
  .containerTwoReviews {
    min-height: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  .containerTwoReviews .reviewTwo {
    display: contents;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }
  .containerTwoReviews .containerTwo__UserReviewText {
    max-width: 400px;
    font-size: 1.3em;
  }
  .containerTwoReviews .containerTwo__UserReviewText small {
    padding-top: 10px;
    display: block;
  }
  .containerTwoReviews .containerTwoReviews__ProfilePicture {
    width: 80px;
    border-radius: 50px;
  }
  /*  Centering Container swipe cards  */
  .containerThreeChallengesSwipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px 0px;
  }
  /*  Centering Container five */
  .containerFiveStory p {
    font-size: 1.4em;
    max-width: 300px;
  }
  .containerFiveStory a {
    width: 200px;
    height: 40px;
    line-height: 20px;
    font-weight: 500;
  }
  /*  Centering Container six */
  .containerSixPlayWithFriends {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .containerSixPlayWithFriends strong {
    text-align: center;
    max-width: 400px;
  }
  .containerSixPlayWithFriends p {
    max-width: 500px;
    text-align: center;
  }
  /*  Centering footer container and text.*/
  .containerEndInfo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  .containerEndInfo .containerEndInfo__InfoContainer {
    text-align: center;
  }
  .containerEndInfo .containerEndInfo__ThirdColumn {
    padding-left: 20px;
  }
  .containerEndInfo div :nth-child(5) {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1420px) {
  /*  Header section */
  header {
    height: 216px;
    background-color: #011827;
    display: flex;
    justify-content: start;
    gap: 5px;
  }
  header h1 {
    height: 20px;
    min-width: 500px;
    padding: 20px 0px 0px 10px;
    color: white;
    font-size: 2.9em;
  }
  header .header__Logo {
    width: 150px;
    height: 100px;
  }
  header nav {
    width: 700px;
    display: contents;
    display: flex;
    justify-content: end;
    gap: 100px;
    padding-right: 150px;
  }
  header nav a {
    min-width: 150px;
    font-size: 1.5em;
  }
  header nav a:last-child:hover {
    color: #8ACFE5;
  }
  /*  Images below heading */
  .frontImageContainer {
    width: 100%;
    height: 468px;
  }
  .frontImageContainer .frontImage {
    width: 100%;
    height: 468px;
  }
  /*  Container Four Red and Blue Links Red Links changeing position and getting width, hight and color*/
  /*  Nesting dosen't work*/
  .containerOneChoice ul {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: -60px;
  }
  .containerFourChoice ul {
    display: flex;
    flex-direction: row-reverse;
  }
  .containerOneChoice__RedLink {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 20px 15px 10px 15px;
    width: 308px;
    height: 66px;
    font-size: 1.5em;
    border-radius: 3px;
    text-align: center;
  }
  .containerOneChoice__BlueLink {
    text-decoration: none;
    line-height: 30px;
    font-size: 1.5em;
    width: 308px;
    height: 66px;
    padding: 20px 15px 10px 15px;
    color: black;
    font-weight: bold;
    background-color: #8ACFE5;
    border-radius: 3px;
    text-align: center;
  }
  /*  Swipe cards, not working at first. Now magic happend. */
  .containerThreeChallengesSwipe {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
  }
  .containerThreeChallengesSwipe h2 {
    align-self: center;
  }
  .containerThreeChallengesSwipe__Card {
    width: 363px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ContainerThreeChallangesSwipe__ChallangeCardContainerScroll {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    overflow-x: visible;
    min-width: 1280px;
    gap: 50px;
  }
  .card-image {
    height: 219px;
    width: 363px;
    border-radius: 8px 8px 0px 0px;
  }
  .containerThreeChallangesSwipe__LinkHolder {
    background-color: red;
    height: 33px;
    width: 120px;
    line-height: 30px;
    border-radius: 3px;
    align-self: end;
  }
  .containerThreeChallangesSwipe__LinkHolder,
  a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
  }
  .containerFiveStory {
    width: 100%;
    height: 500px;
  }
  /*  Container five text and link */
  .containerFiveStory {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 100px;
    height: 500px;
  }
  .containerFiveStory p {
    font-size: 1.8em;
    min-width: 600px;
  }
  .containerFiveStory a {
    font-size: 1.5em;
    width: 308px;
    height: 70px;
    border: 2px solid #8ACFE5;
    color: #8ACFE5;
    text-align: center;
    line-height: 50px;
  }
  /*  Dividing aritcle and images into 4 grid-rows */
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 350px;
    /*  Image in container Six */
    /* Text inside container six  */
  }
  .gridContainer .playOnlineImageContainer__Img {
    order: 4;
  }
  .gridContainer article {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .gridContainer strong {
    font-size: 2em;
    max-width: 472px;
    text-align: left;
  }
  .gridContainer p {
    font-size: 1.8em;
    max-width: 472px;
    text-align: left;
  }
  .gridContainer span {
    min-width: 472px;
  }
  .gridContainer span a {
    font-size: 1.5em;
    width: 308px;
    height: 66px;
    line-height: 70px;
  }
  /* Footer container */
  .containerEndInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 360px;
  }
  .containerEndInfo .containerEndInfo__ThirdColumn {
    min-height: 120px;
  }
  .containerEndInfo div {
    display: flex;
    flex-flow: column wrap;
  }
  .containerEndInfo div strong {
    padding-bottom: 5px;
    text-align: left;
  }
  .containerEndInfo div small {
    max-width: 350px;
    text-align: left;
  }
  .containerEndInfo div :nth-child(5) {
    padding-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */