* {
    font-size: 16px;
}
body {
    margin:0;
    display: block;
}

.BigContainer {

     display: grid; 
}
header {
    width: 300px;
    height: 60px;
    padding: 15px;
    background-color: #011827;
    white-space-collapse: break-spaces;
    display: flex;
    gap: 5px;
    
    
}
h1 {
    color: white;
    font-size: 15px;
   
}
.header__Logo {
    width: 100px;
    height: 60px;
}

.frontImageContainer {
height: 150px;
width: 300px;

}

.frontImage {
width: 300px;
height: 150px;
}


.containerOneChoice {
width: 300px;
height: 140px;
border-bottom: 1px solid black;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.containerOneChoice__BlueLink a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    font-weight: bolder;
}

.containerOneChoice__BlueLink {
    background-color: #8ACFE5;
    border-radius: 3px;
    width: 200px;
    height: 35px;
}

.containerOneChoice__RedLink a {
    text-decoration:underline;
    color: #36769D;
    font-weight: bold;

}

    


.containerTwoReviews {
width: 300px;
height: 120px;
padding: 15px;
border-bottom: 1px solid black;
display: flex;
gap: 10px;
}


.containerTwoReviews__ProfilePicture {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    align-self: start;

}

.containerTwo__UserRiview {
white-space-collapse: collapse;

}
.containerTwo__UserRiview small {
    font-size: 10px;
}









.containerThreeChallengesSwipe {
width: 300px;
height: 410px;
border-bottom: 1px solid black;
padding-left: 30px;

}



.containerThreeChallengesSwipe__Card {
    height: 360px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    text-align: center;

}
.card-image  {
    height: 150px;
    width: 220px;
    border-radius: 8px 8px 0px 0px;
}

.containerThreeChallangesSwipe__LinkHolder {
    background-color: red;
    height: 33px;
    width: 120px;
    line-height: 25px;
    align-self: end;
}
.conterThreeChallangesSwipe__LinkHolder,a {

    display: block;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
}







.containerFourChoice {
    padding: 20px;
    width: 300px;
    height: 120px;
}


.containerFiveStory {
    background-color: #011827;
    width: 300px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

pre {
width: 0px;
}

.containerFiveStory a {
    align-self: center;
}

.playWIthFriendsImage {

    width: 300px;
    height: 170px;
}
.containerSixFriends__playWithFriendsImg {

    width: 300px;
    height: 170px;
}


.containerSixFriends {
    width: 300px;
    height: 274px;
}


.playOnlineImage {
    background-color: blue;
    width: 300px;
    height: 274px;
}

.containerPlayOnline{
    width: 300px;
    height: 274px;
}


.containerEndInfo {
    width: 300px;
    height: 274px;
    background-color: #011827;
}